@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: auto;
  font-family: Questrial, sans-serif;
}

nav {
  max-width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
}

#title {
  float: left;
  margin: 1em;
  font-size: 2em;
}

#links {
  margin-right: 2em;
}

#links a {
  float: right;
  font-size: 1.15em;
  padding: 1.8em;
  text-align: center;
  color: #595eff;
  text-decoration: none;
}

#links a:hover {
  background: linear-gradient(90deg, rgba(148,158,255,1) 0%, rgba(89,94,255,1) 100%);
  color: white;
}

#content {
  text-align: center;
  padding: 1em;
}

#avatar {
  width: 20em;
}