@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: auto;
  font-family: Questrial, sans-serif;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0px;
  opacity: 0.9;
}

#title {
  float: left;
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
}

#links {
  margin-right: 2em;
}

#links a {
  float: right;
  font-size: 1.15em;
  padding: 1.8em;
  text-align: center;
  color: #595eff;
  text-decoration: none;
  transition: color 0.2s ease;
}

#links a:hover {
  background: linear-gradient(
    90deg,
    rgba(148, 158, 255, 1) 0%,
    rgba(89, 94, 255, 1) 100%
  );
  color: white;
}

#home {
  text-align: center;
  padding: 1.5em;
  margin-top: 5em;
}

#avatar {
  width: 20em;
  margin-bottom: 5em;
}

#home h1 {
  margin: 1em 0em;
  font-size: 4em;
}

#aboutdescription {
  font-size: 1.25em;
  font-weight: lighter;
  color: white;
  width: 30em;
  margin: 2em auto;
}

#socials {
  background: linear-gradient(
    90deg,
    rgba(148, 158, 255, 1) 0%,
    rgba(89, 94, 255, 1) 100%
  );
  width: 20em;
  height: 5em;
  border-radius: 30px;
  margin-bottom: 10em;
}

.socialicon {
  width: 3em;
  margin: 0em 1em;
  fill: white;
  transition: width 0.1s ease;
}

.socialicon:hover {
  width: 3.5em;
  cursor: pointer;
}

#about {
  background: linear-gradient(
    90deg,
    rgba(148, 158, 255, 1) 0%,
    rgba(89, 94, 255, 1) 100%
  );
  width: 100%;
  margin-top: 3em;
  text-align: center;
  color: white;
  padding: 3em 0em 5em 0em;
}

#abouttitle,
#worktitle {
  font-size: 4em;
  font-weight: bolder;
  padding: 1em;
}

.card {
  padding: 1em;
  background-color: white;
  border-radius: 30px;
  color: rgb(24, 24, 24);
  width: 25em;
  display: inline-block;
  margin: 0em 2em;
  box-shadow: rgba(89, 94, 255, 1) 0px 0px 15px;
}

#line {
  background-color: rgb(218, 218, 218);
  margin: 1em 0em;
  height: 2px;
  width: 100%;
}

.cardlogo {
  width: 8em;
  height: 8em;
}

#work {
  border-radius: 30px;
  margin-top: -2em;
  z-index: 1;
  padding: 3em 0em;
  text-align: center;
  background-color: white;
  box-shadow: rgba(89, 94, 255, 1) 0px -10px 10px;
}

.workdescription {
  font-size: 1.25em;
  font-weight: lighter;
  width: 30em;
  margin: 2em auto;
}

a {
  color: rgba(148, 158, 255, 1);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: rgba(89, 94, 255, 1);
  text-decoration: underline;
}

.project {
  margin: 0em 2em;
  width: 20em;
  height: 15em;
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;
  box-shadow: rgb(196, 196, 196) 0px 0px 10px;
}

.projectlink {
  color: white;
}

.projectinfo {
  color: white;
  padding: 1em 0em;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    90deg,
    rgba(148, 158, 255, 1) 0%,
    rgba(89, 94, 255, 1) 100%
  );
}

.projectinfo p {
  padding: 0em 1em;
}

.projectimg {
  width: 100%;
}

footer {
  height: 4em;
  padding-top: 2em;
  background-color: rgb(250, 250, 250);
  text-align: center;
  color: rgb(68, 68, 68);
}
